<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-projectPrice-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">*资金名称：</label>
				<div class="col-sm-8">
					<input id="ppProjectName" name="ppProjectName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">*资金文号(省)：</label>
				<div class="col-sm-8">
					<input id="ppNo" name="ppNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">*资金文号(县)：</label>
				<div class="col-sm-8">
					<input id="ppNoX" name="ppNoX" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">*资金性质：</label>
				<div class="col-sm-8">
					<input id="ppNature" name="ppNature" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">*资金类别：</label>
				<div class="col-sm-8">
					<input id="ppPriceType" name="ppPriceType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">*资金级别：</label>
				<div class="col-sm-8">
					<input id="ppPriceClass" name="ppPriceClass" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">*资金金额(万元)：</label>
				<div class="col-sm-8">
					<input id="ppPrice" name="ppPrice" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">已挂接(万元)-实际到了实施单位的金额：</label>
				<div class="col-sm-8">
					<input id="ppUsePrice" name="ppUsePrice" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">剩余(万元)：</label>
				<div class="col-sm-8">
					<input id="ppSurplusPrice" name="ppSurplusPrice" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">行政区划(省)：</label>
				<div class="col-sm-8">
					<input id="ppProvinceId" name="ppProvinceId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">行政区划(市)：</label>
				<div class="col-sm-8">
					<input id="ppCityId" name="ppCityId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">行政区划(区)：</label>
				<div class="col-sm-8">
					<input id="ppZoneId" name="ppZoneId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资金用途：</label>
				<div class="col-sm-8">
					<input id="ppPurpose" name="ppPurpose" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资金状态(1、待拨付2、拨付中3、拨付完)：</label>
				<div class="col-sm-8">
					<input id="ppPriceState" name="ppPriceState" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">到位时间：</label>
				<div class="col-sm-8">
					<input id="ppInPlaceTime" name="ppInPlaceTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">限定使用时间：</label>
				<div class="col-sm-8">
					<input id="ppUseTime" name="ppUseTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否可用(1、否0、是)：</label>
				<div class="col-sm-8">
					<input id="ppIsUse" name="ppIsUse" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否删除(1 可用   -100已删除)：</label>
				<div class="col-sm-8">
					<input id="ppIsDel" name="ppIsDel" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">录入人：</label>
				<div class="col-sm-8">
					<input id="ppPerson" name="ppPerson" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="ppCreateTime" name="ppCreateTime" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/projectPrice"
		$("#form-projectPrice-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-projectPrice-add').serialize());
	        }
	    }
	</script>
</body>
</html>
